*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.orange-color{
    color: #FF7A00;
}
 .btn{
    background-color: #FF7A00;
    color: white;
    border: none;
    padding: 18px 36px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;

 }
/* header styles */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
/* nav styles */
.logo h1{
    font-size: 45px;
    font-weight: 900;
  
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
nav .menu{
    list-style: none;
    display: flex;
    gap:51px;
font: 20px;
align-items: center;
}
 nav .menu  a{
    text-decoration: none;
    
 }
 #banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:47px 38px 0px 230px;
 }
 #banner .banner-content{
    max-width: 585px;
 }
 #banner .banner-content h2{
    font-size:45px;
    font-weight: semibold;
    margin-bottom: 5px;
    color:#474747

 }
#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#181818;
}
#banner .banner-content p{
    font-size:20px;
    font-weight: 400;
    margin-bottom: 30px;
    color:#474747;
    line-height: 30px;

}
#banner .banner-image img{
    width: 584px;
    height: 686px;
    vertical-align: middle;

}
 